{% extends 'Layouts/base.html.twig' %}

{% block title %}Liste Articles{% endblock %}

{# seulement si admin #}

{% block titre_principal %}Liste des produits{% endblock %}

{% block vue %}
    {% if treeTrunks is null %}
        <p>il n'y as pas de tronc d'arbres dans la liste</p>
    {% else %}
        <form>
        <table>
            <tr>
                <td>Libellé</td>
                <td>Quantité</td>
                <td>Prix</td>
                <td>Achat</td>
            </tr>
            <tbody>
            {% for treeTrunk in treeTrunks %}
                <tr>
                    <td>{{ treeTrunk.name }}</td>
                    <td>{{ treeTrunk.quantite }}</td>
                    <td>{{ treeTrunk.prix }}</td>
                    <td>
                        <select name="achat" id="{{ treeTrunk.id }}">
                            {% for i in 0..treeTrunk.quantite %}
                            <option>{{ i }}</option>
                            {% endfor %}
                        </select>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
            <input type="submit" value="Acheter">
        </form>
    {% endif %}
{% endblock %}