{% extends 'Layouts/base.html.twig' %}

{% block title %}Liste Articles{% endblock %}

{# seulement si admin #}

{% block titre_principal %}Liste des produits{% endblock %}

{% block vue %}
    {% if treeTrunks is empty %}
        <p>il n'y as pas de tronc d'arbres dans la liste</p>
    {% else %}
        <form action="{{ path('ajout_panier') }}" method="post">
        <table>
            <tr>
                <td>Libellé</td>
                <td>Quantité</td>
                <td>Prix</td>
                <td>Achat</td>
            </tr>
            <tbody>
            {% set compteur = 1 %}
            {% for treeTrunk in treeTrunks %}
                <tr>

                    <td>{{ treeTrunk.name }}</td>
                    <td>{{ treeTrunk.quantite }}</td>
                    <td>{{ treeTrunk.prix }}</td>
                    <td>
                        {% if treeTrunk.quantite != 0 %}
                        <label for="{{ treeTrunk.id }}"></label>
                        <select name="{{ compteur }}" id="{{ treeTrunk.id }}">
                            {% for i in 0..treeTrunk.quantite %}
                            <option value="{{ i }}">{{ i }}</option>
                            {% endfor %}
                        </select>
                        <input type="hidden" name="-{{ compteur }}" value="{{ treeTrunk.id }}">
                        {% endif %}
                    </td>
                </tr>
                {% set compteur = compteur + 1  %}
            {% endfor %}
            </tbody>
        </table>
            <input type="submit" value="Mettre dans le panier">
        </form>
    {% endif %}
{% endblock %}

{#
Nathan Hubert
Valentin Lescorbie
#}