{% extends 'Layouts/base.html.twig' %}

{% block title %}Accueil{% endblock %}


{% block vue %}
<td>{{ user.identifiant }}</td>
<td>{{ user.motdepasse }}</td>
{% if user.isadmin %}
    <td>-</td>
    <td>-</td>
    <td>-</td>
    <td>Admin</td>
{% else %}
    <td>{{ user.prenom }}</td>
    <td>{{ user.nom }}</td>
    <td>{{ user.anniversaire|date('d/m/y') }}</td>
    <td>Visiteur</td>
{% endif %}
</tr>

{% endblock %}