{% extends 'Layouts/base.html.twig' %}

{% block title %}Article {{ treeTrunk.id }}{% endblock %}

{% block titre_principal %}{{ treeTrunk.name }}{% endblock %}

{% block vue %}
    {% if treeTrunk is null %}
        <p>il n'y as pas de tronc d'arbres dans la liste</p>
    {% else %}
        <table>
            <tr>
                <td>Libellé</td>
                <td>Prix</td>
                <td>Quantite</td>
            </tr>
            <tbody>
                <tr>
                    {% dump(treeTrunk) %}
                    <td>{{ treeTrunk.name }}</td>
                    <td>{{ treeTrunk.quantite }}</td>
                    <td>{{ treeTrunk.prix }}</td>
                </tr>
            </tbody>
        </table>

        <a href="{{ path('treeTrunk_list') }}">liste</a>

    {% endif %}

{% endblock %}

{#
Nathan Hubert
Valentin Lescorbie
#}