{% extends 'Layouts/base.html.twig' %}

{% block title %}Nouveau Compte{% endblock %}



{% block titre_principal %}Création d'un compte{% endblock %}

{% block vue %}
    {{ form_start(formUtilisateur) }}

    {{ form_row(formUtilisateur.prenom, {'label' : 'Prénom', 'attr' : {'placeholder' : 'Prénom'}}) }}
    {{ form_row(formUtilisateur.nom, {'label' : 'Nom', 'attr' : {'placeholder' : 'Nom'}}) }}
    {{ form_row(formUtilisateur.identifiant, {'label' : 'Identifiant', 'attr' : {'placeholder' : 'Identifiant'}}) }}
    {{ form_row(formUtilisateur.motdepasse, {'label' : 'Mot de Passe', 'attr' : {'placeholder' : 'Mot de Passe'}}) }}
    {{ form_row(formUtilisateur.anniversaire, {'label' : 'Date de Naissance'}) }}

    <button type="submit">Inscription</button>
    {{ form_end(formUtilisateur) }}


{% endblock %}